#nameDiv {
  font-family: 'League Spartan';
  background-color: #14141f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#name {
  font-size: 88px;
  font-weight: 800;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-align: center;
  position: relative;
}

#name::before,
#name::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-out;
}
#name:hover::before {
  color: #f4bfbf;
  transform: translate(12px, -12px);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
#name:hover::after {
  color: #d2e2ff;
  transform: translate(24px, -24px);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}